{% extends '::base.html.twig' %}

{% block extra_headers %}

{% endblock %}

    {% block title %}
      Juan Arias Freire
    {% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
  {% include("@AFProject/Default/navbar.html.twig") %}
  {% include("@AFProject/Default/header.html.twig") %}

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-2">
        <h2>Juan Arias</h2>

        <p>Hablar de mí, enlace sy tal </p>

        <p><a class="btn btn-default" href="{{ path('af_bio') }}" role="button">Sobre m&iacute; &raquo;</a></p>
      </div>
      <div class="col-md-10">
        <h2>Dashboard</h2>

        <p>Gráficas y demás</p>

        <p><a class="btn btn-default hide" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

    {% include("@AFProject/Default/footer.html.twig") %}
  </div> <!-- /container -->
{% endblock %}

{% block javascripts %}

{% endblock %}