{# navbar.html #}
{% import '@AFProject/Default/widgets.html.twig' as widgets %}

<div class="jumbotron gdelt_header">

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">&Gt;</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand hidden">{{ activeModule.getHeaderTitle }}</span>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        {{ widgets.navbar(availableModules, activeModule) }}
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container">
    <h2 id="header_title">{{ activeModule.getHeaderTitle }}</h2>

    <p id="header_subtitle">{{ activeModule.getHeaderSubtitle }}</p>
  </div>
</div>
