{% extends '::base.html.twig' %}

{% block extra_headers %}

{% endblock %}

    {% block title %}
      Juan Arias Freire
    {% endblock %}

{% block stylesheets %}

  {% stylesheets
  'bundles/afproject/css/project.css'
  'bundles/afproject/font-awesome/css/font-awesome.css'
  filter='cssrewrite' %}
  <link rel="stylesheet" href="{{ asset_url }}">
  {% endstylesheets %}

{% endblock %}

{% block body %}

  <header>
    {% include("@AFProject/Default/navbar.html.twig") %}
  </header>

  <div class="container">
    {% block content %}{% endblock %}

    {{ widgets.navigationButtons(activeModule) }}
  </div>

  {% include("@AFProject/Default/footer.html.twig") %}

{% endblock %}

{% block javascripts %}

  {% javascripts
  '@AFProjectBundle/Resources/public/js/navbarShrink.js'
  '@AFProjectBundle/Resources/public/js/project.js' %}
  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

{% endblock %}

