{# header.html #}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h2>Average monthly temperature&nbsp;
            <small id="dataset_date"></small>
        </h2>

        <p>
            Testing <i>d3.js</i> to explore an OpenData-powered dataset about Climate change historical Data
            <a class="btn btn-primary btn-sm" target="_blank"
               href="http://data.worldbank.org/data-catalog/cckp_historical_data"
               role="button">More info&raquo;</a>
        </p>
    </div>
</div>
