{% extends '::base.html.twig' %}

{% block extra_headers %}
    
{% endblock %}

    {% block title %}
        Juan Arias Freire
    {% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
   <h1>It works!&trade;</h1>
{% endblock %}

{% block javascripts %}
  
{% endblock %}