
.graph {
    border: 1px black;
}

.main {
    background-color: #a2feaa;
}

span.title {
    font-weight: bold;
}

.graph_tooltip text {
    cursor: default;
    fill: #FFF;
    pointer-events: none;
}

.graph_tooltip {
    display: block;
    position: absolute;
    width: 200px;
    height: 50px;
    padding: 8px;
    font: 14px Helvetica Neue;
    border: solid 1px #aaa;
    border-radius: 8px;
    pointer-events: none;
    z-index: 1500;
    text-align: center;
    background: whiteSmoke;
    box-shadow: 2px 2px 1px #888;
}

.legend
.slider .slider-selection {
    background: #BABABA;
}

.slider .tooltip {
    /* Keep it smaller than navbar's */
    z-index: 100 !important;
}

.yGrid, .xGrid {
    shape-rendering: crispEdges;
    stroke-dasharray: (3, 3);
    stroke: lightgrey;
    opacity: 0.7;
}

.xaxis path, .yaxis path,
.xaxis line, .yaxis line {
    fill: none;
    stroke: black;
    opacity: 0.7;
    shape-rendering: crispEdges;
}

.tick text {
    font-family: sans-serif;
    color: #0088CC;
    font-size: 11px;
}

.area {
    fill: lightsteelblue;
    stroke-width: 0;
}

.legend {
    padding: 6px;
    font: 10px sans-serif;
    border: solid 1px #aaa;
    border-radius: 8px;
    text-align: center;
    background: whiteSmoke;
}

.title {
    font: 13px sans-serif;
}

.y1 {
    fill: white;
    stroke: orange;
    stroke-width: 1.5px;
}

.y2 {
    fill: white;
    stroke: red;
    stroke-width: 1.5px;
}

.y3 {
    fill: white;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.line {
    fill: none;
    stroke-width: 1.5px;
}