@media all and (min-width: 769px) and (max-width: 1024px) {

    #container {
        width: 98%;    
    }
    
    #tagline header {
        font-size:500%;
        line-height: 150%;
        margin: 5% 0;
    }
    ul#nav_cat li {
        padding: 0.5em 0;
    }

    li.nav_company:before {
        display: block;
    }

    li.nav_portfolio:before {
        display: block;
    }

    li.nav_team:before {
        display: block;
    }
    
    #info,
    #avatars,
    #projects {
        width: 80%;
    }
    
    #avatars a {
        margin: 4%;
        padding: 1.5%;
    }
}

/* For iPads in landscape mode */ 
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

    #info,
    #projects,
    #avatars {
        width: 94%;
    }

    #avatars a {
        margin: 3%;
        padding: 1.5%;
    }
    article.paper {
        height: 8em;
    }
}

@media all 
and (min-width: 480px) 
and (max-width: 768px) {
    #container {
        width: 98%;    
    }
    
    #tagline header {
        font-size:300%;
        margin: 5% 0;
    }

    #categories h3 {
        font-size: 150%;
        line-height: 200%;
    }
    #categories p {
        font-size: 1.2em;
    }

    #company:before, 
    #portfolio:before,
    #team:before {
        display: block;
    }
    

    ul#nav_cat {
        width: 99%;
        clear: both;
        font-size: 100%;
    }

    .nav_active {
        padding-bottom: 1%;
    }

    #info,
    #projects,
    #avatars {
        width: 98%;
    }
    
    article.paper {
        width: 40%;
        padding: 2%;
    }

    #projects,
    #avatars {
        margin: 5% auto 0;
    }

    #avatars {
        padding-left: 4%;
    }

    #avatars a {
        margin: 5%;
    }
    #avatars img {
        max-width: 100%;
    }
    
    .modalDialog > div {
    width: 70%;
    }
}

@media screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
{
    #container {
        width: 98%;    
    }
    #container footer {
        padding: 2.5% 0;
    }

/** Frontpage **/
    #tagline header {
        font-size:300%;
        line-height: 100%;
        padding: 5% 0;
    }

    #categories a {
        float: none;
    }
    
    #categories h3 {
        font-size: 150%;
    }

    #categories p {
        padding: 2.5% 10%;
        margin-bottom: 5%;
        text-align:center;
        line-height: 125%;
    }

    #company:before {
        content: url("../img/icons/diagram_32.png");
        margin-right: 5%;
        vertical-align: sub;
    }

    #portfolio:before {
        content: url("../img/icons/briefcase_32.png");
        margin-right: 5%;
        vertical-align: sub;
    }

    #team:before {
        content: url("../img/icons/user_32.png");
        margin-right: 5%;
        vertical-align: sub;
    }

/** Company **/

    ul#nav_cat {
        clear: both;
        font-size: 100%;
        margin: 5% auto 0 auto;
        width: 99%;
    }

    ul#nav_cat li {
        text-align: center;
        width: 31%;
        letter-spacing: 0;
        padding: 0 1%;
    }

    li.nav_company:before,
    li.nav_portfolio:before, 
    li.nav_team:before {
        content: '';
        line-height: 1.5em;
    }

    #info {
        width: 99%;
        line-height: 1.25em;
    }

    #info > #address,
    #info > #company_info {
        float: none;
        width: 96%;
        margin: 5% auto;
    }
    #address {
        text-align: center;
    }
    
    form[name="contact"]{
        width: 98%;
    }
    
/** Portfolio & Team **/
    #projects,
    #avatars {
        width: 98%;
        margin: 10% auto;
    }

    article.paper {
        float: none;
        width: 92%;
        margin: 5% auto;
        padding: 4%;
    }

    h2.btn:before {
        margin: 0 46% 2.5%;
    }

/** Team specific **/
    #avatars {
        width: 100%;
        padding: 0 5%;
        margin: 0;
        text-align: center;
    }

    #avatars a {
        width: auto;
        margin: 5%;
    }

    .modalDialog > div {
        width: 84%;
    }
}
