<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">{{ shortProjectName }}</div>
      <div class="intro-lead-in">{{ projectDescription }}</div>

      <a href="#services" class="page-scroll btn btn-xl">¿qué es esto?</a>
    </div>
  </div>
</header>