<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">{{ projectSubname }}</div>
            <div class="intro-lead-in">{{ projectName }}</div>

            <a href="#services" class="page-scroll btn btn-xl">¿qué es esto?</a>
        </div>
    </div>
</header>